<!-- src/app/builder/components/config-panel/config-panel.component.html -->

<div class="config-panel" *ngIf="selectedComponent">
  <div class="panel-header">
    <h3 class="title">
      <mat-icon>{{ selectedComponent.icon }}</mat-icon>
      {{ selectedComponent.name }}
    </h3>
    <p class="component-id">ID: {{ selectedComponent.instanceId || selectedComponent.id }}</p>
  </div>

  <div class="panel-content">
    <mat-accordion multi>
      <mat-expansion-panel
        *ngFor="let group of getGroupsArray()"
        [expanded]="isPanelExpanded(group.key)"
        (expandedChange)="togglePanel(group.key)">

        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>{{ getGroupIcon(group.key) }}</mat-icon>
            {{ formatGroupName(group.key) }}
          </mat-panel-title>
          <mat-panel-description>
            {{ group.value.length }} properties
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="input-group" *ngFor="let input of group.value">
          <div class="input-header">
            <label class="input-label">
              <mat-icon class="input-icon">{{ getInputIcon(input.name) }}</mat-icon>
              {{ formatInputName(input.name) }}
            </label>
            <button mat-icon-button
                    class="reset-button"
                    (click)="resetToDefault(input)"
                    matTooltip="Reset to default">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>

          <div class="input-control">
            <ng-container [ngSwitch]="input.type">
              <!-- Text input -->
              <mat-form-field *ngSwitchCase="'string'" appearance="outline" class="full-width">
                <input matInput
                       [value]="input.defaultValue"
                       (input)="updateInputValue(input, $event)"
                       [placeholder]="'Enter ' + input.name">
              </mat-form-field>

              <!-- Number input -->
              <mat-form-field *ngSwitchCase="'number'" appearance="outline" class="full-width">
                <input matInput
                       type="number"
                       [value]="input.defaultValue"
                       (input)="updateInputValue(input, $event)"
                       [placeholder]="'Enter ' + input.name">
              </mat-form-field>

              <!-- Boolean checkbox -->
              <mat-slide-toggle
                *ngSwitchCase="'boolean'"
                [checked]="input.defaultValue"
                (change)="updateInputValue(input, $event)"
                color="primary">
                {{ input.defaultValue ? 'Enabled' : 'Disabled' }}
              </mat-slide-toggle>

              <!-- Select dropdown -->
              <mat-form-field *ngSwitchCase="'select'" appearance="outline" class="full-width">
                <mat-select
                  [value]="input.defaultValue"
                  (selectionChange)="updateInputValue(input, $event.value)">
                  <mat-option *ngFor="let option of input.options" [value]="option">
                    {{ formatOptionName(option) }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </div>

          <!-- Input description if available -->
          <p class="input-description" *ngIf="input.description">
            {{ input.description }}
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
