<!-- src/app/builder/components/dynamic-renderer/dynamic-renderer.component.html -->

<ng-container [ngSwitch]="componentConfig.id">

  <!-- Text Input -->
  <ng-container *ngSwitchCase="'mat_input'">
    <mat-form-field [appearance]="appearance" class="full-width">
      <mat-label>{{ label }}</mat-label>
      <input matInput
             [placeholder]="placeholder"
             [formControl]="control"
             [required]="required"
             [readonly]="readonly" />
      <mat-error *ngIf="control.invalid && control.touched">
        {{ getErrorMessage() }}
      </mat-error>
    </mat-form-field>
  </ng-container>

  <!-- Email Input -->
  <ng-container *ngSwitchCase="'mat_email'">
    <mat-form-field [appearance]="appearance" class="full-width">
      <mat-label>{{ label }}</mat-label>
      <input matInput
             type="email"
             [placeholder]="placeholder"
             [formControl]="control"
             [required]="required" />
      <mat-icon matPrefix>email</mat-icon>
      <mat-error *ngIf="control.invalid && control.touched">
        {{ getErrorMessage() }}
      </mat-error>
    </mat-form-field>
  </ng-container>

  <!-- Number Input -->
  <ng-container *ngSwitchCase="'mat_number'">
    <mat-form-field [appearance]="appearance" class="full-width">
      <mat-label>{{ label }}</mat-label>
      <input matInput
             type="number"
             [placeholder]="placeholder"
             [formControl]="control"
             [required]="required"
             [min]="minValue"
             [max]="maxValue"
             [step]="stepValue" />
      <mat-error *ngIf="control.invalid && control.touched">
        {{ getErrorMessage() }}
      </mat-error>
    </mat-form-field>
  </ng-container>

  <!-- Textarea -->
  <ng-container *ngSwitchCase="'mat_textarea'">
    <mat-form-field [appearance]="appearance" class="full-width">
      <mat-label>{{ label }}</mat-label>
      <textarea matInput
                [placeholder]="placeholder"
                [formControl]="control"
                [required]="required"
                rows="4"></textarea>
      <mat-error *ngIf="control.invalid && control.touched">
        {{ getErrorMessage() }}
      </mat-error>
    </mat-form-field>
  </ng-container>

  <!-- Select Dropdown -->
  <ng-container *ngSwitchCase="'mat_select'">
    <mat-form-field [appearance]="appearance" class="full-width">
      <mat-label>{{ label }}</mat-label>
      <mat-select [formControl]="control" [required]="required">
        <mat-option *ngFor="let opt of options" [value]="opt">{{ opt }}</mat-option>
      </mat-select>
      <mat-error *ngIf="control.invalid && control.touched">
        {{ getErrorMessage() }}
      </mat-error>
    </mat-form-field>
  </ng-container>

  <!-- Radio Button Group -->
  <ng-container *ngSwitchCase="'mat_radio'">
    <label class="radio-group-label">{{ label }}</label>
    <mat-radio-group [formControl]="control" [required]="required" class="radio-group">
      <mat-radio-button *ngFor="let opt of options" [value]="opt" class="radio-option">
        {{ opt }}
      </mat-radio-button>
    </mat-radio-group>
  </ng-container>

  <!-- Date Picker -->
  <ng-container *ngSwitchCase="'mat_datepicker'">
    <mat-form-field [appearance]="appearance" class="full-width">
      <mat-label>{{ label }}</mat-label>
      <input matInput
             [matDatepicker]="picker"
             [formControl]="control"
             [required]="required">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="control.invalid && control.touched">
        {{ getErrorMessage() }}
      </mat-error>
    </mat-form-field>
  </ng-container>

  <!-- Button -->
  <ng-container *ngSwitchCase="'mat_button'">
    <button mat-raised-button [color]="color" [disabled]="disabled">
      <mat-icon *ngIf="getInputValue('icon')">{{ getInputValue('icon') }}</mat-icon>
      {{ label }}
    </button>
  </ng-container>

  <!-- Checkbox -->
  <ng-container *ngSwitchCase="'mat_checkbox'">
    <mat-checkbox [formControl]="control" [required]="required" [color]="color">
      {{ label }}
    </mat-checkbox>
  </ng-container>

  <!-- Slide Toggle -->
  <ng-container *ngSwitchCase="'mat_slide_toggle'">
    <mat-slide-toggle [formControl]="control" [required]="required" [color]="color">
      {{ label }}
    </mat-slide-toggle>
  </ng-container>

  <!-- Slider -->
  <ng-container *ngSwitchCase="'mat_slider'">
    <label class="slider-label">{{ label }}</label>
    <mat-slider [min]="minValue" [max]="maxValue" [step]="stepValue" class="full-width">
      <input matSliderThumb [formControl]="control">
    </mat-slider>
  </ng-container>

  <!-- Default fallback -->
  <ng-container *ngSwitchDefault>
    <div class="error-component">
      <mat-icon>error_outline</mat-icon>
      <span>Unsupported component: {{ componentConfig.id }}</span>
    </div>
  </ng-container>

</ng-container>
